<div class="jumbtron">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Resume</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="listworkexperience">Work Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="listeducationexperience">Education Experiences</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <br>
  <div class="row">
    
    <div class="col-md-7">
      <div>
        <app-person></app-person>
      </div>
      <div>
        <app-list-work-experience [createUpdateWorkExperience]="createUpdateWorkExperience"></app-list-work-experience>
      </div>
      <div>
        <app-list-education-experience></app-list-education-experience>
      </div>
    </div>
    <div class="col-md-5">
      <div>
        <app-github></app-github>
      </div>
      <div>
        <app-createworkexperience #createUpdateWorkExperience></app-createworkexperience>
      </div>
      <div>
        <app-createeducationexperience></app-createeducationexperience>

      </div>
    </div>
  </div>
  </div>






<!--The content below is only a placeholder and can be replaced.-->