<p class="text-center">{{ this.personInfo.FirstName }} {{ this.personInfo.LastName }} - {{ this.personInfo.PreferredName }}</p>
<div class="row">

  <div class="col-md-4">
      <p class="text-left">{{ this.personInfo.PhoneNumber }}</p>
  </div>
  <div class="col-md-4">
      <p class="text-center">{{ this.personInfo.Email }}</p>
  </div>
  <div class="col-md-4">
      <p class="text-right">{{ this.personInfo.HomeAddress.City }}, {{ this.personInfo.HomeAddress.State }}, {{ this.personInfo.HomeAddress.Country }} {{ this.personInfo.HomeAddress.Zip }}
          </p>
  </div>
</div>

